<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge" />
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0" />
	<title>Landing Page</title>
	<!-- <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script> -->
	<script>
        
		var idToken = null
		function checkLogin(){
			let url = window.location.href
			const myArray = url.split('&')
			let word = myArray[1]
			const final = word.split('=')
			idToken = final[1]
			const dict = {"accessToken":idToken}
			const s = JSON.stringify()
			console.log(s)
			
		}
		function sendUserInfo(){
			let userInfo = {
				'name': 'John Brown',
				'type': 'Admin'
			}
			const request = new XMLHttpRequest()
			request.open('POST',`/processUserInfo/${JSON.stringify(userInfo)}`)
			request.onload  =() =>{
				const flaskMessage = request.responseText
				console.log(flaskMessage)
			}
			request.send()
		}

	</script>
</head>
<!-- onload = "checkLogin()" -->
<body >
	
	<!-- <a href ="https://tb71.auth.us-east-1.amazoncognito.com/login?client_id=6vt87nsjdjhmmpsqnen202mpe0&response_type=token&scope=aws.cognito.signin.user.admin+email+openid+phone+profile&redirect_uri=https://tombrady71.github.io/hosting-test/" >Login</a> -->
	hello  World
	<p >yo</p>

	<div id="demo">
		<h2>Let AJAX change this text</h2>
		<button type="button" onclick="sendUserInfo()">Change Content</button>
	</div>

</body>

</html>